*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------HEADER------------ */

#navbar{
    width: 100%;
    height: 5rem;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
    user-select: none;
}

#navbar > h2{
    
}

.nav{
    list-style-type:none;
    display: flex;
    gap: 2rem;
}

.nav > li{

    cursor: pointer;
}


.nav > li.active{
    color:blue;

}